<!DOCTYPE>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<base href="/">

		<title>Chameleon Talk</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>

		<script src="js/app.js"></script>

		<!-- Taken from the socket.io "Get Started" -->
		<script src="/socket.io/socket.io.js"></script>
		<!-- <script src="http://code.jquery.com/jquery-1.11.1.js"></script> -->
		<script>
			var socket = io();
			// $('form').submit(function() {
			// 	socket.emit('chat message', $('#m').val());
			// 	$('#m').val('');
			// 	return false;
			// });
		</script>
	</head>
	<body ng-app="app">
		<nav class="navbar navbar-inverse navbar-static-top">
			<div class="navbar-header">
				<h4 class="navbar-brand" href="#">Chameleon Talk</a>
			</div>
		</nav>
		<!-- Iterate through messages to display -->
		<ul id="messages"></ul>
        <form action="">
			<input id="m" autocomplete="off" /><button>Send</button>
            <!-- <input type="text" name="message">
            <input type="submit" value="Send"> -->
        </form>
	</body>
</html>
